*:focus {
  outline: 0 !important;
}

#nav {
  transform: translateY(1rem);
  width: 90%;
  border-radius: 1px;
  margin: auto;
  margin-bottom: 5rem;
  background-color: #b20000;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3), 0 12px 10px rgba(0, 0, 0, 0.22);
}

#toolbar {
  display: grid;
  grid-template-columns: 50% 50%;
}

#header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#lunDesk {
  color: white;
}

#stayProd {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  color: white;
  white-space: nowrap;
}

@media only screen and (max-width: 600px) {
  #nav {
    margin-bottom: 2.5rem;
  }
}

/* removed navbar on supported device(s) */
@media only screen and (max-width: 280px) {
  #nav {
    display: none;
  }
}
